<?xml version="1.0"?>
<ServerSettings>
  <!-- Port you want the server to listen on. -->
  <property name="ServerPort" value="26900"/>
  <!-- Should this server register to master server -->
  <property name="ServerIsPublic" value="true"/>
  <!-- Whatever you want the name to be. -->
  <property name="ServerName" value="7dtd in Docker"/>
  <!-- Password to gain entry to the server -->
  <property name="ServerPassword" value=""/>
  <!-- Maximum Concurrent Players -->
  <property name="ServerMaxPlayerCount" value="8"/>
  <!-- Whatever you want the description to be. -->
  <property name="ServerDescription" value="A 7 Days to Die Docker server"/>
  <!-- Website URL for the server -->
  <property name="ServerWebsiteURL" value=""/>
  <!-- Navezgane, Random Gen -->
  <property name="GameWorld" value="Random Gen"/>
  <!-- Whatever you want the game name to be THIS CONTROLS THE RANDOM GENERATION SEED -->
  <property name="GameName" value="Docker"/>
  <!-- 0 - 5, 0=easiest, 5=hardest -->
  <property name="GameDifficulty" value="2"/>
  <!-- GameModeSurvivalMP, GameModeSurvivalSP (MP has land protection) -->
  <property name="GameMode" value="GameModeSurvivalMP"/>
  <!-- 0 = default day/night walk/run, 1 = never run, 2 = always run -->
  <property name="ZombiesRun" value="0"/>
  <!-- cheat mode on/off -->
  <property name="BuildCreate" value="false"/>
  <!-- real time minutes per in game day: 50 minutes -->
  <property name="DayNightLength" value="50"/>
  <!-- in game hours the sun shines per day: 18 hours day light per day-->
  <property name="DayLightLength" value="18"/>
  <!-- Can friendly players damage each other (PvP) -->
  <property name="FriendlyFire" value="false"/>
  <!-- If disabled a player can join with any selected profile. If true they will join with the last profile they joined with -->
  <property name="PersistentPlayerProfiles" value="false"/>
  <!-- If a player is less or equal this level he will create a safe zone (no enemies) when spawned -->
  <property name="PlayerSafeZoneLevel" value="5"/>
  <!-- Hours in world time this safe zone exists -->
  <property name="PlayerSafeZoneHours" value="5"/>
  <!-- Enable/Disable the control panel -->
  <property name="ControlPanelEnabled" value="true"/>
  <!-- Port of the control panel webpage -->
  <property name="ControlPanelPort" value="8080"/>
  <!-- Password to gain entry to the control panel -->
  <property name="ControlPanelPassword" value="CHANGEME"/>
  <!-- Enable/Disable the telnet -->
  <property name="TelnetEnabled" value="true"/>
  <!-- Port of the telnet server -->
  <property name="TelnetPort" value="8081"/>
  <!-- Password to gain entry to telnet interface -->
  <property name="TelnetPassword" value="CHANGEME"/>
  <!-- Server admin file name -->
  <property name="AdminFileName" value="serveradmin.xml"/>
  <!-- 0 = everything, 1 = toolbelt only, 2 = backpack only, 3 = delete all -->
  <property name="DropOnDeath" value="0"/>
  <!-- 0 = nothing, 1 = everything, 2 = toolbelt only, 3 = backpack only -->
  <property name="DropOnQuit" value="0"/>
  <!-- Time, in seconds, that a zombie will pursue something that has been sensed. -->
  <property name="EnemySenseMemory" value="60"/>
  <!-- 0 = Disabled 0%, 1 = Very Low 50%, 2 = Low 75%, 3 = Medium 100%, 4 = High 125%, 5 = Very High 150% -->
  <property name="EnemySpawnMode" value="3"/>
  <!-- 0 = Normal, 1 = Feral -->
  <property name="EnemyDifficulty" value="0"/>
  <!-- percentage in whole numbers -->
  <property name="BlockDurabilityModifier" value="100"/>
  <!-- percentage in whole numbers -->
  <property name="LootAbundance" value="100"/>
  <!-- days in whole numbers -->
  <property name="LootRespawnDays" value="30"/>
  <!-- Size in blocks that is protected by a keystone -->
  <property name="LandClaimSize" value="7"/>
  <!-- Keystones must be this many blocks apart (unless you are friends with the other player) -->
  <property name="LandClaimDeadZone" value="30"/>
  <!-- The number of days a player can be offline before their claims expire and are no longer protected -->
  <property name="LandClaimExpiryTime" value="3"/>
  <!-- Controls how offline players land claims decay. All claims have full protection for the first 24hrs. 0=Linear, 1=Exponential, 2=Full protection until claim is expired. -->
  <property name="LandClaimDecayMode" value="0"/>
  <!-- How much protected claim area block hardness is increased when a player is online. 0 means infinite (no damage will ever be taken). Default is 32x -->
  <property name="LandClaimOnlineDurabilityModifier" value="4"/>
  <!-- How much protected claim area block hardness is increased when a player is offline. 0 means infinite (no damage will ever be taken). Default is 32x -->
  <property name="LandClaimOfflineDurabilityModifier" value="4"/>
  <!-- How often airdrop occur in game-hours, 0 == never -->
  <property name="AirDropFrequency" value="72"/>
  <!-- Making this number too large (more than about 80) may cause servers to run at poor framerates which will effect lag and play quality for clients. -->
  <property name="MaxSpawnedZombies" value="60"/>
  <!--
  If your server has a large number of players you can increase this limit to add more wildlife. Animals don't consume as much CPU as zombies.
  NOTE: That this doesn't cause more animals to spawn arbitrarily: The biome spawning system only spawns a certain number of animals in a given
  area, but if you have lots of players that are all spread out then you may be hitting the limit and can increase it.
  -->
  <property name="MaxSpawnedAnimals" value="50"/>
  <!-- Enables/Disables EasyAntiCheat -->
  <property name="EACEnabled" value="true"/>
  <!-- use this to override the default save game path -->
  <!--property name="SaveGameFolder" value="absolute path" /-->
</ServerSettings>
